# Node modules and npm
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-report/
app/.expo/

# Testing
coverage/
.jest/
.nyc_output/

# Production
build/
out/

# TypeScript
*.tsbuildinfo

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo
*~
.editorconfig

# OS specific
.DS_Store
Thumbs.db

# Project specific
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.aider*
output.txt

# Logs
*.log